@using OficinasMecanicas.Web.ViewModels.Usuarios;
@model CadastrarEditarUsuarioViewModel
@{
    TempData["Title"] = "Editar Usuário";
}

<h1 class="o-title"> EDITAR USUÁRIO </h1>
<partial name="~/Views/Shared/_Avisos.cshtml" />
<form asp-action="Editar" method="post" class="c-form">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    
    <div class="c-form__section">
        <span class="c-form__section--label">Dados gerais</span>       

        <div class="row">
            <div class="c-form__group col-8">
                <label asp-for="Nome" class="c-form__label form-label control-label"></label>
                <input asp-for="Nome" class="c-form__input form-control" required placeholder="Nome Completo">
                <span asp-validation-for="Nome" class="form-text text-danger"></span>
            </div>
            <div class="c-form__group col-4">
               
            </div>
        </div>

        <div class="row">
            <div class="c-form__group col-8">
                <label asp-for="Email" class="c-form__label form-label control-label"></label>
                <input asp-for="Email" class="c-form__input form-control" data-rule-email="true" required placeholder="Email">
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>

            <div class="c-form__group col-4">
              
            </div>
        </div>

    </div>

    <div class="c-form__btn-group">
        <input type="submit" value="Salvar Alterações" class="o-btn o-btn-default">
        <input type="button" value="Cancelar" class="o-btn o-btn-alt" onclick="paginaInicial()">
        <div class="c-form__group col-auto">
            
        </div>
    </div>

</form>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script src="~/js/usuario.js"></script>
   
    <script>

        function paginaInicial() 
        {
            window.location.href = "@Url.Action("Index","Usuarios")";
        }

        const modal = new bootstrap.Modal('#modalConfirmacao');
        $("form").submit((e) => {
            e.preventDefault();
            
            if ($("form").valid()) 
            {              

                $(".modal-body").html("<p class='lh-base'>Deseja confirmar as alterações do cadastro do usuário?</p>")

                modal.show();

                $("#btnConfirmarModal").on("click", (element) => {
                    modal.hide();
                    e.currentTarget.submit();
                })

            }
        });

        $(document).ready(() => {
          
        })
    </script>
}