@using OficinasMecanicas.Web.ViewModels.Usuarios;
@model EsqueciSenhaViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>

</style>
<section class="c-login">
    <article action="" class="c-login__box">
        <header class="c-login__header">
            <img src="~/imagens/main/logo.png" alt="Logo" />
            <h2 class="c-login__title">Sistema Oficinas Mecânicas</h2>
        </header>
        
        @if (ViewBag.ExibirMensagemSucesso == null)
        {
            <form asp-action="EsqueciSenha" class="c-login__form">
                <h3 class="c-login__form--title"> Recuperar Senha </h3>

                <div class="c-login__form--fieldset">
                    <div asp-validation-summary="All" class="text-danger justify-content-start"></div>
                    <div class="c-form__group form-group">
                        <label asp-for="Email" class="c-form__label form-label control-label"></label>
                        <input type="text" asp-for="Email" class="c-form__input form-control" placeholder="Digite seu e-mail">
                        <span asp-validation-for="Email" class="form-text text-danger"></span>
                    </div>
                    <input type="submit" value="Continuar" class="o-btn o-btn--full o-btn-default">
                </div>
            </form>
        }
        else
        {
            <div class="d-flex" style="gap: 30px">
                <h3 class="c-login__form--title"> Recuperar Senha </h3>
                <label class="fw-normal" style="text-align:center">Um link de recuperação foi enviado para o seu e-mail, Acesso o link para cadastrar uma nova senha.</label>
            </div>
        }

    </article>
</section>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
