@using OficinasMecanicas.Web.ViewModels.Usuarios;

<h1 class="o-title">
    Usuários
</h1>
<partial name="~/Views/Shared/_Avisos.cshtml" />
<div id="avisos"></div>
<div class="c-tabledata">
    <div class="c-tabledata__controllers">
        <input type="search" id="pesquisaGrid" class="c-tabledata__controllers--search c-form__input c-form__input--search" placeholder="Pesquisar por nome, email ou cpf" />
        <a href="@Url.Action("Adicionar","Usuarios")" class="o-btn o-btn-default">Adicionar Usuário</a>
    </div>
   
    @Html.AjaxGrid(Url.Action("Index"))
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }    


    <script id="Historico-componente.js" src="~/js/modalhistorico-componente.js"
            data-urlPost="@Url.Action("Historico","Usuarios")"></script>

    <script>
      
        function ativarbtn(e) {
            $(".btn-action.active").removeClass("active");
            $(e).addClass("active");
        }
    </script>
    }