@using OficinasMecanicas.Web.ViewModels.Agenda;

<h1 class="o-title">
    Agendamentos
</h1>
<partial name="~/Views/Shared/_Avisos.cshtml" />
<div id="avisos"></div>
<div class="c-tabledata">
    <div class="c-tabledata__controllers">
        <input type="search" id="pesquisaGrid" class="c-tabledata__controllers--search c-form__input c-form__input--search" placeholder="Pesquisar por nome, email ou cpf" />
        <a href="@Url.Action("Adicionar","AgendamentoVisita")" class="o-btn o-btn-default">Adicionar agendamento</a>
    </div>
    <div id="Grid">
        @Html.AjaxGrid(Url.Action("Index"))
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const urlExclusao = "@Html.Raw(Url.Action("Excluir", "AgendamentoVisita"))";
        function excluir(id) {

            const modal = new bootstrap.Modal('#modalConfirmacao');

            $(".modal-body").html("<p class='lh-base'>Deseja excluir permanentemente a oficina ?</p>")

            modal.show();

            $("#btnConfirmarModal").on("click", (element) => {

                let url = urlExclusao + `?id=${id}`;
                $.ajax({
                    url: `${url}`,
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: `${pegarToken()}`,
                    },
                    async: false
                }).done((resultado) =>
                {
                    const grid = new MvcGrid(document.querySelector(".mvc-grid"));

                    grid.reload();
                    
                    let html = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                    ${resultado}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>`
                    $("#avisos").html(html);
                    modal.hide();

                }).fail((jqXHR, textStatus, errorThrown) =>
                {
                    if (jqXHR != undefined && jqXHR.responseJSON != undefined && jqXHR.responseJSON != null)
                    {
                        $(jqXHR.responseJSON).each((i,e)=>{
                            let html = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                ${e}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>`;
                            $("#avisos").prepend(html);
                        })
                    }
                    else if (jqXHR != undefined && jqXHR.responseText != undefined && jqXHR.responseText != null)
                    {
                        let html = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                           ${jqXHR.responseText}
                                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                     </div>`;
                        $("#avisos").html(html);
                    }
                    modal.hide();
                });
            })
        }

        function ativarbtn(e) {
            $(".btn-action.active").removeClass("active");
            $(e).addClass("active");
        }

        
    </script>
}