@using OficinasMecanicas.Web.ViewModels.Oficinas;
@using NonFactors.Mvc.Grid;
@model IList<OficinasMecanicasViewModel>

@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Nome).Titled("Nome").Filterable(true);
            //columns.Add(model => model.Email).Titled("E-mail");

            columns.Add(model => $"<div class='dropdown dropdown-actions'>"
                                + $"<button class='btn btn-secondary dropdown-toggle btn-action' onclick='ativarbtn(this)' type='button' id='dropdownMenuButton' data-bs-toggle='dropdown' aria-expanded='false'><span>Ações</span></button>"
                                + $"<ul class='dropdown-menu' aria-labelledby='dropdownMenuButton'>"
                                + "<li>"
                                    + $"<a href='{Url.Action("Editar", "Usuarios", new { id = model.Id })}'><i class='icon-mode-edit' style='padding-right:4rem'></i> Editar</a>"
                                + "</li>"
                                + "<li>"
                                    + $"<a href='#' onclick='excluir(`{model.Id}`)'><i class='icon-delete' style='padding-right:4rem'></i> Excluir</a>"
                                + "</li>"
                                + $"</ul>"
                                + $"</div>")

    .Encoded(false);

        })
        .AppendCss("c-tabledata__table")
        .Using(GridFilterMode.Excel)
        .Sortable()
        .UsingUrl(@Url.Action("Index"))
        .RowAttributed(model => new { @class = "d-table-row" })
        .Empty("Nenhum registro encontrado.")
        .Pageable(pager =>
        {
            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 25, "25" }, { 50, "50" } };
            pager.ShowPageSizes = true;
            pager.PagesToDisplay = 5;
            pager.CurrentPage = 1;
            pager.RowsPerPage = 10;
        })
        )

<link rel="stylesheet" href="~/css/modal-historico-componente.css">
<link rel="stylesheet" href="~/css/data-table-historico.css">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

<script></script>