<nav class="c-nav">
    <ul class="c-nav--list">
       
       
        <li class="c-nav--list__item">
            <a href="@Url.Action("Index","Usuarios")" class="c-nav--list__item-link c-form__info_menu">
                <i class="icon-person"></i>
                <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Usuários</span>
            </a>
        </li>
        <li class="c-nav--list__item">
            <a href="@Url.Action("Index","OficinaMecanicas")" class="c-nav--list__item-link c-form__info_menu">
                <i class="icon-person"></i>
                <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Oficinas</span>
            </a>
        </li>
        <li class="c-nav--list__item">
            <a href="@Url.Action("Index","AgendamentoVisita")" class="c-nav--list__item-link c-form__info_menu">
                <i class="icon-person"></i>
                <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Agenda</span>
            </a>
        </li>
    </ul>
</nav>